entity/chat/data/aws_workflow.json
{
  "Comment": "State machine for DI app workflow",
  "StartAt": "AskQuestion",
  "States": {
    "AskQuestion": {
      "Type": "Pass",
      "Result": "What do you want to do?",
      "Next": "SimulateUserInput"
    },
    "SimulateUserInput": {
      "Type": "Pass",
      "Result": "I want to build a DI app",
      "Next": "ProcessAgents"
    },
    "ProcessAgents": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "BuildApp",
          "States": {
            "BuildApp": {
              "Type": "Pass",
              "Next": "BuildDIApp"
            },
            "BuildDIApp": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:BuildDIAppFunction",
              "ResultPath": "$.buildResult",
              "Next": "LoopRequirementAnalysis"
            },
            "LoopRequirementAnalysis": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:RequirementAnalysisFunction",
              "ResultPath": "$.reqAnalysis",
              "Next": "CheckLoop"
            },
            "CheckLoop": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.reqAnalysis.loopCount",
                  "NumericLessThan": 30,
                  "Next": "LoopRequirementAnalysis"
                }
              ],
              "Default": "PrototypeGeneration"
            },
            "PrototypeGeneration": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:PrototypeGenerationFunction",
              "ResultPath": "$.prototypeResult",
              "End": true
            }
          }
        },
        {
          "StartAt": "EditApp",
          "States": {
            "EditApp": {
              "Type": "Pass",
              "Next": "EditDIApp"
            },
            "EditDIApp": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:EditDIAppFunction",
              "ResultPath": "$.editResult",
              "End": true
            }
          }
        }
      ],
      "Next": "EndState"
    },
    "EndState": {
      "Type": "Pass",
      "End": true
    }
  }
}